Repository AJahann/next-ecommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

.lintstagedrc.json:

{
  "*.{json,html}": ["prettier --write", "cspell --no-must-find-files"],
  "*.{md}": ["cspell --no-must-find-files"],
  "*.{ts,tsx}": ["eslint --fix", "cspell --no-must-find-files"]
}

update README
  README.md
Due: none

fix init config
  public/product1.jpg
  src/app/layout.tsx
  src/app/list/page.tsx
  src/app/login/page.tsx
  src/app/orders/[id]/page.tsx
  src/app/page.tsx
  src/app/profile/page.tsx
  src/components/CategoryList.tsx
  src/components/CustomizeProducts.tsx
  src/components/NavIcons.tsx
  src/components/Navbar.tsx
  src/components/ProductList.tsx
  src/components/Slider.tsx
Due: cspell --no-must-find-files, eslint --fix

feat(products): base
  package-lock.json
  package.json
  src/components/CategoryList.tsx
  src/components/ProductList.tsx
  src/database/db.ts
  src/database/productsSample.json
  src/models/Product.ts
  src/repositories/ProductRepository.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

DB base
  src/components/CategoryList.tsx
  src/components/ProductList.tsx
  src/database/Categories.json
  src/database/Products.json
  src/database/Reviews.json
  src/database/Users.json
  src/database/productsSample.json
  src/models/Category.ts
  src/models/Product.ts
  src/models/Review.ts
  src/models/User.ts
  src/repositories/CategoryRepository.ts
  src/repositories/ProductRepository.ts
  src/repositories/ReviewRepository.ts
  src/repositories/SellerRepository.ts
  src/repositories/UserRepository.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix(prodduct)
  src/app/page.tsx
  src/components/CategoryList.tsx
  src/database/Categories.json
  src/database/Products.json
  src/models/Category.ts
  src/models/Product.ts
  src/repositories/CategoryRepository.ts
  src/repositories/ProductRepository.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

feat(login): base
  src/app/login/Form.tsx
  src/app/login/page.tsx
  src/models/User.ts
Due: cspell --no-must-find-files, eslint --fix

feat(register): base
  src/app/login/Button.tsx
  src/app/login/Form.tsx
  src/app/login/action.ts
  src/app/login/page.tsx
  src/models/User.ts
  src/repositories/UserRepository.ts
  src/utils/sleep.ts
Due: cspell --no-must-find-files, eslint --fix

feat(register): add jwt/zod
  package-lock.json
  package.json
  src/app/login/Form.tsx
  src/app/login/action.ts
  src/app/login/registerAction.ts
  src/repositories/UserRepository.ts
  src/utils/session.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix(login/register): connect jwt/zod/DB together
  src/app/login/Form.tsx
  src/app/login/action.ts
  src/app/login/formActions.ts
Due: cspell --no-must-find-files, eslint --fix

chore: type fixing
  src/app/login/Form.jsx
  src/app/page.tsx
  src/components/CategoryList.tsx
  src/components/CustomizeProducts.tsx
  src/components/Footer.tsx
  src/components/NavIcons.tsx
  src/components/ProductImages.tsx
  src/components/Reviews.tsx
  src/components/SearchBar.tsx
  src/components/UpdateButton.tsx
  src/utils/sleep.ts
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

feat(login): handle user state global
  package-lock.json
  package.json
  src/_actions/getUserSession.tsx
  src/app/layout.tsx
  src/app/login/Form.jsx
  src/app/login/formActions.ts
  src/app/login/page.tsx
  src/components/NavIcons.tsx
  src/components/UserHydration.tsx
  src/context/useAuth.tsx
  src/repositories/UserRepository.ts
  src/utils/session.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

feature(profile): add update information form
  src/_actions/getUserSession.tsx
  src/app/profile/Form.tsx
  src/app/profile/page.tsx
  src/app/profile/updateAction.ts
  src/components/InputField.tsx
  src/models/User.ts
  src/repositories/UserRepository.ts
Due: cspell --no-must-find-files, eslint --fix

ref(categories/products): clean up
  public/jewelry.jpg
  src/components/ProductList.tsx
  src/models/Category.ts
  src/models/Product.ts
  src/repositories/CategoryRepository.ts
Due: cspell --no-must-find-files, eslint --fix

add products image
  public/beauty.jpg
  public/books.jpg
  public/clothing.jpg
  public/home-kitchen.jpg
  public/products/clothing/product1.jpg
  public/products/clothing/product2.jpg
  public/products/clothing/product3.jpg
  public/products/jewelry/product1.jpg
  public/products/jewelry/product2.jpg
  public/products/jewelry/product3.jpg
  public/products/jewelry/product4.jpg
  public/sports.jpg
  public/watches.jpg
  src/components/CategoryList.tsx
Due: cspell --no-must-find-files, eslint --fix

ref(product): add product to DB
  src/@types/ExampleEmptyProps.ts
  src/app/page.tsx
  src/components/ProductList.tsx
  src/models/Product.ts
  src/repositories/ProductRepository.ts
  src/utils/seedDB.ts
Due: cspell --no-must-find-files, eslint --fix

feat(product): completed ui of the product page
  public/products/jewelry/product5.jpg
  public/products/jewelry/product6.jpg
  public/products/jewelry/product7.jpg
  src/app/[slug]/page.tsx
  src/components/Add.tsx
  src/components/ProductImages.tsx
  src/components/Reviews.tsx
  src/models/Product.ts
  src/repositories/ProductRepository.ts
  src/utils/seedDB.ts
Due: cspell --no-must-find-files, eslint --fix

feat(cart): up to date cart length
  src/app/[slug]/page.tsx
  src/app/layout.tsx
  src/components/Add.tsx
  src/components/NavIcons.tsx
Due: cspell --no-must-find-files, eslint --fix

feat(cart): connect cart to cookies
  src/_actions/getCartItems.tsx
  src/components/CartModal.tsx
  src/components/NavIcons.tsx
  src/repositories/ProductRepository.ts
Due: cspell --no-must-find-files, eslint --fix

fix(product)
  src/@types/ExampleEmptyProps.ts
  src/_actions/getFilteredProducts.tsx
  src/app/list/page.tsx
  src/app/page.tsx
  src/components/Filter.tsx
  src/components/Reviews.tsx
  src/repositories/ProductRepository.ts
Due: cspell --no-must-find-files, eslint --fix

feat(profile): add middleware for protect route
  src/middleware.ts
Due: cspell --no-must-find-files, eslint --fix
